* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

.app {
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  padding-top: 10rem;
  justify-content: center;
}
